/* ------------------------------About Section-------------------------------- */

.bio-body{
    display: flex;
    align-items: center;
    min-height: 200px;
}

.bio-body img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 5px 10px 10px rgba(191, 196, 190, 0.3);
    margin-right: 20px;
}

.heading {
    padding: 0 30px;
    color: #800000;
    display: inline-block;
    border-bottom: #800000 3px solid;
    margin: 20px 0px;
    font-weight: 600;
}

.about-text{
    flex: 1;
}

.about-text h1 {
    text-transform: capitalize;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.about-text h5 {
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-text span {
    color: #AB372E;
}

.about-text p {
    text-align: justify;
}

.about-text a {
    background: #AB372E;
    color: #D4D1CB;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
}

.about-text a:hover {
    background-color: #AB372E;
}

.image-height {
    max-height: 750px;
    margin: 0 auto;
}

/* --------------------------End of About Page------------------------------------------------ */
