/* --------------------------- Contact Page---------------------------------- */
.contact {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.contact-container {
    max-width: 1050px;
    width: 100%;
    background: #ffffff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.contact-container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .image-box {
    max-width: 55%;
}

.form-content .image-box img {
    margin-left: 1rem;
    max-width: 100%;
}

.form-content .title {
    font-size: 2rem;
    font-weight: 700;
    color: #AB372E;
}

.form-content form {
    width: 40%;
}

.form-content .input-box {
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
}

.form-content .input-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    background: #eff4fd;
    border: 2px solid transparent;
    padding-left: 1.2rem;
    font-size: 1rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    background-color: #ffffff;
    border-color: #AB372E;
}

.form-content .input-box label {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    pointer-events: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.form-content .input-box input:focus ~ label,
.form-content .input-box input:valid ~ label {
    top: 0;
    left: 1rem;
    color: #AB372E;
    background-color: #ffffff;
}

.form-content .message-box {
    min-height: 100px;
    position: relative;
}

.form-content .message-box textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    padding-top: 1rem;
    padding-left: 1.2rem;
    border: 2px solid transparent;
    background: #eff4fd;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.form-content .message-box textarea:focus {
    border-color: #AB372E;
    background-color: #ffffff;
}

.form-content .message-box label {
    position: absolute;
    top: 9px;
    pointer-events: none;
    left: 1.1rem;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.form-content .message-box textarea:focus ~ label {
    left: 12px;
    top: -10px;
    color: #AB372E;
    background: #ffffff;
}

.form-content .input-box input[type="submit"] {
    color: #ffffff;
    background: #AB372E;
    cursor: pointer;
    padding-left: 0;
    letter-spacing: 1;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.form-content .input-box input[type="submit"]:hover {
    background-color: #AB372E;
}

@media (max-width: 1000px) {
    .form-content .image-box {
        max-width: 60%;
    }

    .contact-container {
        max-width: 90%;
    }

    .form-content {
        padding: 10px 0;
    }
}

@media (max-width: 900px) {
    .form-content .image-box {
        display: none;
    }


    .form-content form {
        width: 100%;
    }
}

/* -------------------------------End of Contact Page------------------------------------------- */
