* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #eff4fd;
    line-height: 1.5;
    height: 100vh;
}
.detel{
    margin-left: 8%;
    margin-top: 15%;
}
.detel h1{
    font-size: 50px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: orange;
}
.detel p {
    color: #555;
    line-height: 22px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
} 
.home-bio{
    line-height: 2;
}

