* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #D4D1CB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;

}

main {
    flex-grow: 1;
}

/* -------------Home Page------------------------- */
.home {
    height: 93vh;
    width: 80vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

.section-container {
    width: 80vw;
    margin: 0px auto;
}

.detel {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detel h1 {
    font-size: 50px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: #AB372E;
}

.detel p {
    color: #555;
    line-height: 22px;
}

.btn-outline-orange {
    color: #AB372E;
    background-color: transparent;
    border-color: #AB372E;
    border-width: 1px;
    border-radius: 0px;
    padding: 6px 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-orange:hover {
    color: white;
    background-color: #AB372E;
}

.social-media-links {
    margin: 4px;
    padding-top: 22px;
}

/* .images{
    width: 45%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 100px;
} */
/* .images img{
    max-height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}  */
.images img {
    height: 93vh;
}

.home-bio {
    line-height: 2;
}

/* ------------------Services------------------------- */
.max-width {
    max-width: 1300px;
    padding: 0 45px;
    margin: auto;
}
.card-equal-height {
    height: 100%; /* Set a fixed height for all cards */
    width: calc(33.33% + 240px);
}
.border-service{
    padding: 0 30px;
    color: #800000;
    display: inline-block;
    border-bottom: #800000 3px solid;
    margin: 50px 0px;
    font-weight: 600;
}

.max-width h1 {
    color: #AB372E;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.max-width h1::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 3px;
    background-color: #1E1613;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.content {
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 50px 25px;
    margin: 0 1rem;
    border-radius: 24px;
    border: solid 3px;
    border-color: #AB372E;
    background: #D4D1CB;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: #AB372E;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.box {
    transition: all 0.3s ease;
}

.card:hover .box {
    transform: scale(1.05);
}

.box i {
    font-size: 50px;
    color: #AB372E;
    transition: color 0.3s ease;
}

.card:hover .box i {
    color: #D4D1CB;
}

.box h3 {
    font-size: 25px;
    padding: 10px 0 7px;
}

@media screen and (max-width: 1190px) {
    .max-width {
        padding: 0 25px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .max-width {
        padding: 0 15px;
    }

    .card {
        padding: 25px 15px;
    }

    .box h3 {
        font-size: 20px;
    }
}

/* ----------------------------End of Services------------------------- */

.second-container {
    background-color: #D4D1CB;
    padding: 20px;
}

.section-header {
    margin-top: 20px;
    color: #AB372E;
}

/*--------------------------------Footer--------------------------------------------- */
.footer {
    background-color: #AB372E;
    margin-top: 4rem;
    color: white;
}

.footer h3 {
    margin-top: 30px;
}

.social-media {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-media li {
    margin-right: 25px;
}

.social-link {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.social-media a.social-link:hover {
    color: white;
}

/* -------------End of Home Page------------------------- */


